/*
* Created by Matthew Achariam
* Feb 2013
*/


/* Table of Contents
==================================================
    #Header
    #Banner*/


 /* #Header
================================================== */
	
.stripe{
	width: 100%;
	background: #e9eef6;
}

.halo{
display: block;
height: 4px;
background: #425895;
margin: 0 auto;
max-width: 8em;
width: 20%;
}

.header img{
	display: block;
	margin: 3% auto;
	max-width: 100px;
	width: 20%;
}

 /* Banner
================================================== */

.banner {
	background: transparent url(../img/banner.jpg) 0 0 no-repeat;
	background-size: 1600px 500px;
	max-height: 500px;
	width: 100%;
	padding: 13% 0;
}


.essence{
	font-size: 20px;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 1.1em;
	width: 100%;
}