/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */

@font-face {
	font-family: Antenna-Regular;
	font-style: normal;
	font-weight: 300;
  	src: local('Antenna Regular'), local('Antenna-Regular'), url("../font/Antenna-Regular.otf") format("opentype");
}

@font-face {
	font-family: Antenna-RegularItalic;
	font-style: italic;
	font-weight: 300;
  	src: local('Antenna RegularItalic'), local('Antenna-RegularItalic'), url("../font/Antenna-RegularItalic.otf") format("opentype");
}

@font-face {
	font-family: Antenna-Light;
	font-style: normal;
	font-weight: 100;
  	src: local('Antenna Light'), local('Antenna-Light'), url("../font/Antenna-Light.otf") format("opentype");
}

@font-face {
	font-family: Antenna-LightItalic;
	font-style: italic;
	font-weight: 100;
  	src: local('Antenna LightItalic'), local('Antenna-LightItalic'), url("../font/Antenna-LightItalic.otf") format("opentype");
}

@font-face {
	font-family: Antenna-Bold;
	font-style: Bold;
	font-weight: 500;
  	src: local('Antenna Bold'), local('Antenna-Bold'), url("../font/Antenna-Bold.otf") format("opentype");
}

@font-face {
	font-family: Antenna-BoldItalic;
	font-style: italic;
	font-weight: 500;
  	src: local('Antenna BoldItalic'), local('Antenna-BoldItalic'), url("../font/Antenna-BoldItalic.otf") format("opentype");
}


body {
		background: #090F25;
		font: 14px/1.6 Verdana, Arial, sans-serif;
		color: #A1A6BB;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #FFF;
	font-weight: regular;
	font-family: 'Antenna';
}

h1 			{ font-size: 60px; line-height: 1.1; }
h2 			{ font-size: 48px; line-height: 1.2; }
h3 			{ font-size: 36px; line-height: 1.3; }
h4 			{ font-size: 24px; line-height: 1.4; }
h5 			{ font-size: 21px; line-height: 1.5; }
h6 			{ font-size: 18px; line-height: 1.6; }

p 			{ margin: 0 0 20px 0; }
em 			{ font-style: italic; }
strong 	{ font-weight: bold; }
hr 			{ border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 5px; height: 0; opacity:.8;}


/* #Links
================================================== */
	a { color: #333; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #000; }